click==6.6
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
peewee==2.8.3
PyMySQL==0.7.9
Werkzeug==0.11.11
-e git://github.com/berlotto/flask-api.git#egg=Flask-API
requests==2.11.1
gunicorn==19.6.0
